# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [2]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [6]:
sal = pd.read_csv("Salaries.csv", low_memory=False)

**Check the head of the DataFrame.**

In [8]:
print(sal.head())

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.0  400184.25      NaN  567595.43         567595.43
1  155966.02   245131.88  137811.38      NaN  538909.28         538909.28
2  212739.13   106088.18    16452.6      NaN  335279.91         335279.91
3    77916.0    56120.71   198306.9      NaN  332343.61         332343.61
4   134401.6      9737.0  182234.59      NaN  326373.19         326373.19

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN

**Use the .info() method to find out how many entries there are.**

In [9]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [10]:
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')

average_basepay = sal['BasePay'].mean()
print(average_basepay)

66325.4488404877

**What is the highest amount of OvertimePay in the dataset ?**

In [11]:
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'], errors='coerce')

highest_overtime = sal['OvertimePay'].max()
print(highest_overtime)

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [12]:
job_title = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'].iloc[0]
print(job_title)

CAPTAIN, FIRE SUPPRESSION

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [13]:
total_pay = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'].iloc[0]
print(total_pay)

270324.91

**What is the name of highest paid person (including benefits)?**

In [16]:
highest_paid_details = sal.loc[[sal['TotalPayBenefits'].idxmax()]]

print(highest_paid_details)

   Id    EmployeeName                                        JobTitle  \
0   1  NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY

     BasePay  OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits  \
0  167411.18          0.0  400184.25      NaN  567595.43         567595.43

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [18]:
lowest_paid_details = sal.loc[[sal['TotalPayBenefits'].idxmin()]]

print(lowest_paid_details)

            Id EmployeeName                    JobTitle  BasePay  OvertimePay  \
148653  148654    Joe Lopez  Counselor, Log Cabin Ranch      0.0          0.0

       OtherPay Benefits  TotalPay  TotalPayBenefits  Year  Notes  \
148653  -618.13     0.00   -618.13           -618.13  2014    NaN

               Agency Status
148653  San Francisco     PT

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [19]:
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')

avg_basepay_per_year = sal.groupby('Year')['BasePay'].mean()

print(avg_basepay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [20]:
unique_job_titles = sal['JobTitle'].nunique()
print(unique_job_titles)

2159

**What are the top 5 most common jobs?**

In [21]:
top_5_jobs = sal['JobTitle'].value_counts().head(5)
print(top_5_jobs)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [22]:
sal_2013 = sal[sal['Year'] == 2013]

unique_2013_jobs = (sal_2013['JobTitle'].value_counts() == 1).sum()

print(unique_2013_jobs)

202

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [23]:
chief_count = sal[sal['JobTitle'].str.contains('chief', case=False, na=False)]['JobTitle'].count()

print(chief_count)

627

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

In [24]:
# Create column for job title length
sal['title_len'] = sal['JobTitle'].apply(len)

# Ensure TotalPayBenefits is numeric
sal['TotalPayBenefits'] = pd.to_numeric(sal['TotalPayBenefits'], errors='coerce')

# Display correlation matrix
print(sal[['title_len', 'TotalPayBenefits']].corr())

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!